$_viewport_config: (
    up-to  480px it-is "tiny",
    up-to  768px it-is "small",  // (portrait iPad width, for reference)
    up-to 1024px it-is "medium", // (landscape iPad width, for reference)
    beyond-that  it-is "large"
    );

//    What this configuration means is:
//
//    0px         480px       768px       1024px      >9000px
//    \__________/\__________/\__________/\____________...
//       "tiny"      "small"    "medium"      "large"
//       0-480       481-768    769-1024       1025->

@mixin viewports($name) {

    $queryType: 'simple';
    $lookForName: nth($name, 1);

    @if (nth($name, 1) == 'up-to') {
        $queryType: 'up-to';
        $lookForName: nth($name, 2);
    } @else if (nth($name, 1) == 'up-from') {
        $queryType: 'up-from';
        $lookForName: nth($name, 2);
    } @else if (nth($name, 1) == 'below') {
        $queryType: 'below';
        $lookForName: nth($name, 2);
    } @else if (nth($name, 1) == 'above') {
        $queryType: 'above';
        $lookForName: nth($name, 2);
    } @else if (nth($name, 1) == 'among') {
        @if (length($name) == 2) {
            $queryType: 'simple';
            $lookForName: nth($name, 2);
        } @else {
            $queryType: 'among';
            $lookForName: nth($name, 2);
        }
    }

    // TODO: "not"..?

    $rangeIndex: false;
    $lastRange: false;

    @for $i from 1 to length($_viewport_config) + 1 {
        @if (nth(nth($_viewport_config, $i), 2) == $lookForName) {
            $rangeIndex: $i;
            @if ($i == length($_viewport_config)) {
                $lastRange: true;
            }
        }
    }

    $lowBound: nth($_viewport_config, $rangeIndex);

    @if ($queryType == 'up-to') {

        @if ($lastRange) { // saying "up-to" a last range doesn't really make sense, but for consistency let's tolerate it
            @content;
        } @else {
            $highBound: nth($_viewport_config, $rangeIndex + 1);
            @media (max-width: #{nth($highBound, 1) - 1}) {
                @content;
            }
        }

    } @else if ($queryType == 'up-from') {

        @media (min-width: #{nth($lowBound, 1)}) {
            @content;
        }

    } @else if ($queryType == 'below') {

        @if (nth($lowBound, 1) > 0) { // saying "below" a range that starts at 0 makes little sense, but for consistency let's tolerate it
            @media (max-width: #{nth($lowBound, 1) - 1}) {
                @content;
            }
        }

    } @else if ($queryType == 'above') {

        @if ($lastRange == false) { // saying "above" the last range doesn't make sense
            $highBound: nth($_viewport_config, $rangeIndex + 1);
            @media (min-width: #{nth($highBound, 1)}) {
                @content;
            }
        }

    } @else if ($queryType == 'simple') {

        @if ($lastRange) {
            @media (min-width: #{nth($lowBound, 1)}) {
                @content;
            }
        } @else {
            $highBound: nth($_viewport_config, $rangeIndex + 1);
            @media (min-width: #{nth($lowBound, 1)}) and (max-width: #{nth($highBound, 1) - 1}) {
                @content;
            }
        }

    } @else if ($queryType == 'among') {

        // TODO

    }
}
