@import "viewport";

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

@mixin selected-1 {
    background: gray;
    color: white;
}

#current-class {

    margin: 0;
    padding: 0;
    overflow: hidden;

    li {

        float: left;
        width: 55px;
        list-style-type: none;
        border: 1px solid #aaa;
        margin: 0 10px 10px 0;
        padding: 10px 20px;
        font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
        text-align: center;

        &:nth-child(1) {
            @include viewport('tiny') {
                @include selected-1;
            }
        }
        &:nth-child(2) {
            @include viewport('small') {
                @include selected-1;
            }
        }
        &:nth-child(3) {
            @include viewport('medium') {
                @include selected-1;
            }
        }
        &:nth-child(4) {
            @include viewport('large') {
                @include selected-1;
            }
        }
    }
}

@mixin selected-2 {
    color: inherit;
    font-weight: bold;
}

#up-to {

    li {

        color: gray;

        &:nth-child(1) {
            @include viewport(up-to 'tiny') {
                @include selected-2;
            }
        }
        &:nth-child(2) {
            @include viewport(up-to 'small') {
                @include selected-2;
            }
        }
        &:nth-child(3) {
            @include viewport(up-to 'medium') {
                @include selected-2;
            }
        }
        &:nth-child(4) {
            @include viewport(up-to 'large') {
                @include selected-2;
            }
        }
    }
}

#up-from {

    li {

        color: gray;

        &:nth-child(1) {
            @include viewport(up-from 'tiny') {
                @include selected-2;
            }
        }
        &:nth-child(2) {
            @include viewport(up-from 'small') {
                @include selected-2;
            }
        }
        &:nth-child(3) {
            @include viewport(up-from 'medium') {
                @include selected-2;
            }
        }
        &:nth-child(4) {
            @include viewport(up-from 'large') {
                @include selected-2;
            }
        }
    }
}
