@import "viewports";

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

@mixin selected-1 {
    background: gray;
    color: white;
}

#current-class {

    margin: 0;
    padding: 0;
    overflow: hidden;

    li {

        float: left;
        width: 55px;
        list-style-type: none;
        border: 1px solid #aaa;
        margin: 0 10px 10px 0;
        padding: 10px 20px;
        font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
        text-align: center;

        &:nth-child(1) {
            @include viewports('tiny') {
                @include selected-1;
            }
        }
        &:nth-child(2) {
            @include viewports('small') {
                @include selected-1;
            }
        }
        &:nth-child(3) {
            @include viewports('medium') {
                @include selected-1;
            }
        }
        &:nth-child(4) {
            @include viewports('large') {
                @include selected-1;
            }
        }
    }
}
