$VIEWPORTS_CONFIG:
    up-to  480px it-is "tiny",
    up-to  768px it-is "small";

@import "../../viewports";

/* it won't validate a config without a 'beyond-that' specification */

p {
    content: "#{validate-config()}";
}

/* should equal */

p {
    content: "false";
}
