$VIEWPORTS_CONFIG:
    beyond-that it-is "tiny";

@import "../../viewports";

/* it won't validate a single-specification config */

p {
    content: "#{validate-config()}";
}

/* should equal */

p {
    content: "false";
}
